In [1]:
from deltabase import delta

db:delta = delta.connect("path")

In [2]:
db.upsert("mytable", "id", {"id":1, "name":"jim"})

In [3]:
%%sql --table newtable --key id
select * from mytable

shape: (1, 2)
┌─────┬──────┐
│ id  ┆ name │
│ --- ┆ ---  │
│ i64 ┆ str  │
╞═════╪══════╡
│ 1   ┆ jim  │
└─────┴──────┘

In [4]:
db.tables

['mytable', 'newtable']

In [5]:
db.upsert("mytable", "id", {"id":1, "name":"jimbob"})
db.upsert("mytabl1", "id", {"id":1, "name":"jimbob"})
db.upsert("mytabl2", "id", {"id":1, "name":"jimbob"})
db.upsert("mytabl3", "id", {"id":1, "name":"jimbob"})
db.upsert("mytabl4", "id", {"id":1, "name":"jimbob"})

In [6]:
%%ai --debug
describe the data available to me.

```json
[
    {
        "role": "system",
        "content": "answer the user's question. below is the data they have access to.data can be accessed via sql.\n"
    },
    {
        "role": "system",
        "content": "here is the data available to the user.\n- mytabl1: {'id': <class 'int'>, 'name': <class 'str'>}\n- mytabl2: {'id': <class 'int'>, 'name': <class 'str'>}\n- mytabl3: {'id': <class 'int'>, 'name': <class 'str'>}\n- mytabl4: {'id': <class 'int'>, 'name': <class 'str'>}\n- mytable: {'id': <class 'int'>, 'name': <class 'str'>}\n- newtable: {'id': <class 'int'>, 'name': <class 'str'>}\n"
    },
    {
        "role": "user",
        "content": "describe the data available to me.\n"
    }
]
```